$primary-color: #3FAE49;
$secondary-color: #1E3066;

$title-color: rgba(0, 0, 0, 0.5);
$subtitle-color: rgba(0, 0, 0, 0.8);

$primary-background-color: #f5f5f5;
$secondary-background-color: #fff;

$form-border: 1px solid rgba(0, 0, 0, 0.24);

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
$bar-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);

$primary-button-width: 320px;
$primary-button-height: 48px;

$primary-button-hover: #27c636;
$primary-button-fs-mobile: 15px;
$primary-button-lh-mobile: 18px;
$primary-button-fs-desktop: 16px;
$primary-button-lh-desktop: 19px;

$wrapper-width: 1200px;

// FONT WEIGHT
$regular: 400;
$medium: 500;
$bold: 700;


// fs - font-size
// ls - line-height

// MOBILE
$header-subtitle-fs-mobile: 38px;
$header-subtitle-lh-mobile: 38px;

$stats-fs-mobile: 36px;
$stats-lh-mobile: 38px;

$subtitle-fs-mobile: 24px;
$subtitle-lh-mobile: 28px;

$title-fs-mobile: 15px;
$title-lh-mobile: 20px;

$p-secondary-fs-mobile: 15px;
$p-secondary-lh-mobile: 16px;

$p-fs-mobile: 14px;
$p-lh-mobile: 22px;

$primary-button-fs-mobile: 15px;
$primary-button-lh-mobile: 18px;
//


// DESKTOP
$header-subtitle-fs-desktop: 64px;
$header-subtitle-lh-desktop: 64px;

$stats-fs-desktop: 48px;
$stats-lh-desktop: 56px;

$subtitle-fs-desktop: 32px;
$subtitle-lh-desktop: 38px;

$title-fs-desktop: 18px;
$title-lh-desktop: 20px;

$p-secondary-fs-desktop: 16px;
$p-secondary-lh-desktop: 18px;

$p-fs-desktop: 15px;
$p-lh-desktop: 24px;

$primary-button-fs-desktop: 16px;
$primary-button-lh-desktop: 19px;
//