$primary-color: #3FAE49;
$secondary-color: #1E3066;

$title-color: rgba(0, 0, 0, 0.5);
$subtitle-color: rgba(0, 0, 0, 0.8);

$primary-background-color: #f5f5f5;
$secondary-background-color: #fff;

$form-border: 1px solid rgba(0, 0, 0, 0.24);
$box-shadow: 0 3px 6px rgba(0, 0, 0, .18);

$primary-button-width: 320px;
$primary-button-height: 48px;

$primary-button-fs-mobile: 15px;
$primary-button-lh-mobile: 18px;
$primary-button-fs-desktop: 16px;
$primary-button-lh-desktop: 19px;

$wrapper-width: 1200px;

$regular: 400;
$medium: 500;
$bold: 700;


// fs - font-size
// ls - line-height

// MOBILE
$h1-fs-mobile: 38px;
$h1-lh-mobile: 38px;

$h2-fs-mobile: 32px; //36
$h2-lh-mobile: 38px;

$h3-fs-mobile: 24px;
$h3-lh-mobile: 28px;

$h4-fs-mobile: 15px;
$h4-lh-mobile: 20px;

$h5-fs-mobile: 15px;
$h5-lh-mobile: 16px;

$p-fs-mobile: 14px;
$p-lh-mobile: 22px;
//


// DESKTOP
$h1-fs-desktop: 64px;
$h1-lh-desktop: 64px;

$h2-fs-desktop: 48px;
$h2-lh-desktop: 56px;

$h3-fs-desktop: 32px;
$h3-lh-desktop: 38px;

$h4-fs-desktop: 18px;
$h4-lh-desktop: 20px;

$h5-fs-desktop: 16px;
$h5-lh-desktop: 18px;

$p-fs-desktop: 15px;
$p-lh-desktop: 24px;
//