.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
  background-color: $secondary-color;

  .footer__paragraph {
    font-family: 'Raleway', sans-serif;
    font-size: $p-secondary-fs-mobile;
    font-weight: $medium;
    color: $secondary-background-color;
  }
}