.form-wrapper {
  margin-top: 35px;

  .contact__form {
    display: flex;
    flex-direction: column;

    .form__label {
      display: none;
    }

    .contact__input,
    .contact__textarea {
      margin-bottom: 15px;
      padding: 10px 0;
      border: none;
      font-family: 'Raleway', sans-serif;
      font-size: $p-fs-mobile;
      line-height: $h5-lh-mobile
    }

    .contact__input {
      border-bottom: $form-border;
    }

    .contact__textarea {
      padding: 15px 10px;
      height: 110px;
      background-color: $primary-background-color;
      border: $form-border;
      resize: none;
    }

    .primary-button {
      width: 100%;
    }
  }
}