.form-wrapper {
  margin-top: 35px;

  .contact__form {
    display: flex;
    flex-direction: column;

    @include screen('tablet') {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .form__label {
      display: none;
    }

    .contact__input,
    .contact__textarea {
      margin-bottom: 25px;
      padding: 10px 0;
      border: none;
      font-family: 'Raleway', sans-serif;
      font-size: $p-fs-mobile;
      line-height: $p-secondary-lh-mobile
    }

    .contact__input {
      border-bottom: $form-border;

      @include screen('tablet') {
        flex-basis: 50%;
      }
    }

    .name__input {
      @include screen('tablet') {
        margin-right: var(--input-margin);
        flex-basis: calc(50% - var(--input-margin));
      }
    }

    .contact__textarea {
      padding: 15px 10px;
      height: 110px;
      background-color: $primary-background-color;
      border: $form-border;
      resize: none;

      @include screen('tablet') {
        flex-basis: 100%;
      }
    }

    .primary-button {
      @include screen('tablet') {
        width: 356px;
      }

      @include screen('desktop') {
        width: 320px;
      }
    }
  }
}