.wrapper {
  max-width: $wrapper-width;
  @include margin-auto;
  overflow-x: hidden;
}

.components-wrapper {
  @include screen('tablet') {
    position: relative;
    width: 728px;
    height: 794px;
    @include margin-auto;
  }
}