.header {
  background: url('../../assets/images/pp-main-background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 568px;

  .wrapper {
    background-color: transparent;

    .article {
      margin: 20px 0 0 0;
      position: initial;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: transparent;
      box-shadow: none;
      overflow: hidden;

      @include screen('tablet') {
        padding: 0;
        margin-top: 50px;
      }

      .article__title {
        margin-bottom: 20px;
        color: $primary-background-color;

        @include screen('tablet') {
          font-size: $title-fs-desktop;
          line-height: 22px;
        }
      }

      .article__subtitle {
        font-size: $header-subtitle-fs-mobile;
        line-height: $header-subtitle-lh-mobile;
        margin-bottom: 55px;
        color: $primary-background-color;

        @include screen('tablet') {
          font-size: $header-subtitle-fs-desktop;
          line-height: $header-subtitle-lh-desktop;
          margin-bottom: 20px;
        }


        .article__subtitle--hidden {
          display: none;
          color: $primary-background-color;

          @include screen('tablet') {
            display: initial;
          }
        }
      }

      .article__paragraph {
        margin-bottom: 25px;
        font-weight: $medium;
        color: $primary-background-color;

        @include screen('tablet') {
          width: 640px;
          @include margin-auto;
          margin-bottom: 25px;
          font-size: $p-fs-desktop;
          line-height: $p-lh-desktop;
        }
      }

      .primary-button {
        width: 240px;
        align-self: center;


        @include screen('tablet') {
          width: 320px;
        }

        @include screen('desktop') {
          margin: 20px 0;
        }
      }

      .arrow-circle {
        position: relative;
        width: 30px;
        height: 30px;
        @include margin-auto;
        margin-top: 30px;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.7);

        @include screen('tablet') {
          width: 36px;
          height: 36px;
        }

        .arrow-icon {
          @include position;
          font-size: 15px;
          color: $primary-background-color;

          @include screen('tablet') {
            font-size: 20px;
          }
        }
      }
    }
  }
}