    .nav-bar {
      width: 100%;
      height: var(--nav-bar-height);
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;

      &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        background-color: $secondary-color;
        z-index: 500;
        transition: background-color .3s linear;
        box-shadow: $bar-shadow;
      }


      .nav-bar__title {

        .nav-bar__link {

          .nav-bar__logo {
            width: 28px;
            height: 32px;

            @include screen('tablet') {
              width: 160px;
            }

            .logo-mobile {
              @include screen('tablet') {
                display: none;
              }
            }

            .logo-desktop {
              display: none;

              @include screen('tablet') {
                display: block;
              }
            }
          }
        }
      }
    }

    .nav {
      display: none;

      @include screen('desktop') {
        display: block;
      }

      .nav__list {
        margin-top: 80px;
        list-style-type: none;
        font-family: 'Raleway', sans-serif;
        font-weight: $medium;

        @include screen('desktop') {
          margin-top: 0;
          display: flex;
        }

        .nav__item {
          position: relative;
          padding: 10px 0;
          font-size: 22px;

          @include screen('desktop') {
            font-size: $primary-button-fs-mobile;
            line-height: $primary-button-lh-mobile;
            font-weight: $bold;
            text-transform: uppercase;
          }

          &--active::before {
            @include psel;
            @include position(true, 50%, -20px, true);
            width: 40px;
            height: 3px;
            background-color: $primary-color;

            @include screen('desktop') {
              display: none;
            }
          }

          .nav__link {
            position: relative;
            margin-left: 50px;
            text-decoration: none;
            color: $secondary-background-color;

            @include screen('desktop') {
              &:hover::before {
                @include psel();
                @include position((absolute, 50%, 0, translate(-50%, 0)));
                width: 0;
                height: 4px;
                background-color: $primary-color;
                animation: line .2s linear both;

                @include keyframes(line) {
                  from {
                    width: 0;
                  }

                  to {
                    width: 100%;
                  }
                }

              }
            }
          }
        }
      }
    }