  .wrapper {
    .article {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 50px 10px 0;
      padding: 30px 15px;
      background-color: #fff;
      box-shadow: $box-shadow;
      z-index: 100;

      @include screen('tablet') {
        padding: 45px 30px;
      }



      .article__paragraph {
        margin-bottom: 25px;
        font-weight: $regular;
      }

      .primary-button {
        width: 272px;
        align-self: center;

        @include screen('tablet') {
          width: 320px;
          align-self: flex-start;
        }
      }
    }
  }