.nav-bar.opened {

  .inner-hamburger {
    transform: rotate(90deg);
    background-color: transparent;

    &::before,
    &::after {
      top: 1px;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}

.nav-bar.opened .nav {
  display: block;
  position: absolute;
  top: 0;
  height: 100vh;
  left: 50px;
  width: 100%;
  background-color: $secondary-color;
  z-index: 600;


  &::before {
    @include psel;
    top: 0;
    left: -50px;
    width: 50px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
}