.nav-bar.opened {
  .inner-hamburger {
    transform: rotate(90deg);
    background-color: transparent;

    &::before,
    &::after {
      top: 1px;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  & .nav {
    display: block;
    right: 0;
    transform: translateX(0);
    transition: transform .3s ease;
    z-index: 600;
  }
}