:root {
  --input-margin: 15px;
  --nav-bar-height: 64px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;

  &.scroll-disabled {
    overflow-y: hidden;
  }

  body {
    position: relative;
    overflow-x: hidden;

  }
}