:root {
  --input-margin: 15px;
  --nav-bar-height: 52px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  overflow-x: hidden;

  &.scroll-disabled {
    overflow-y: hidden;
  }

  &.layer {
    &::before {
      @include psel();
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 200;
    }
  }

  body {
    position: relative;
    overflow-x: hidden;

  }
}