:root {
  --input-margin: 15px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;

  body {
    position: relative;
    overflow-x: hidden;
  }
}